*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/bing
/cmd
/dev
/etc
/mingw64
/tmp
/usr
git-bash.exe
git-cmd.exe
LISCENSE.txt
ReleaseNotes.html
unins000.dat
unins000.exe
unins000.msg